@import "~styles/colors.scss";
.no-mostrar-menu {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.menu-lateral {
    @media (min-width: 768px) {
        width: 332px;
        position: absolute;
        height: 100%;
        background: $color-6;
    }
}

.dossier {
    padding: 16px;
    @media (min-width: 768px) {
        margin-left: 332px;
    }
}