<div class="container">
    
    
      <section class="dossier-lateral">
    
        <app-profile rounded="false" [profileData]="getProfileData()" (onClickButton)="onClickButton($event)"></app-profile>
    
        <div>
          <section class="categorias">
            <h4>Tags</h4>
            <div>
              <span (click)="print()">Android</span>
            </div>
            <div>
              <span>Js</span>
            </div>
            <div>
              <span>Angular</span>
            </div>
            <div>
              <span>node</span>
            </div>
            <div>
              <span>html</span>
            </div>
            <div>
              <span>Js</span>
            </div>
            <div>
              <span>Angular</span>
            </div>
            <div>
              <span>node</span>
            </div>
            <div>
              <span>html</span>
            </div>
            <div>
              <span>Js</span>
            </div>
            <div>
              <span>Angular</span>
            </div>
            <div>
              <span>node</span>
            </div>
            <div>
              <span>html</span>
            </div>
    
    
          </section>
        </div>
      </section>
    
      <section class="dossier-contenido">
          <div>
            <h1>Mi curru¡iculum</h1>
          </div>
        </section>
    
    </div>