<section class="menu-lateral a-difuminado ">
  <app-profile rounded="false" [profileData]="getProfileData()" (onClickButton)="onMenuOpen($event)">

  </app-profile>

  <div [ngClass]="{'no-mostrar-menu' : !isAbrir}">
    <app-redes [netButtons]="getNetButtons()" (onClickButton)="onClickButton($event)"></app-redes>


    <app-burbujas></app-burbujas>
  </div>
</section>
<section class="dossier a-difuminado ">

  <div class="time-line">
   <app-job></app-job>
      <app-job></app-job>
  </div>
</section>