<div class="categorias">
  <section>
    <h4>Skills</h4>

    <div class="tag">
      <span>J2SE </span>
    </div>
    <div class="tag">
      <span> J2EE – JSP – SERVLET </span>
    </div>
    <div class="tag">
      <span> Spring boot </span>
    </div>
    <div class="tag">
      <span> Api rest</span>
    </div>
    <div class="tag">
      <span> SDK ANDROID</span>
    </div>
    <div class="tag">
      <span> Python 2.7</span>
    </div>
    <div class="tag">
      <span> Flex 2.5</span>
    </div>
    <div class="tag">
      <span> ORACLE</span>
    </div>
    <div class="tag">
      <span> PL/SQL</span>
    </div>
    <div class="tag">
      <span> Oracle Form</span>
    </div>
    <div class="tag">
      <span> Javascript</span>
    </div>
    <div class="tag">
      <span> Jquery</span>
    </div>
    <div class="tag">
      <span> Css3</span>
    </div>
    <div class="tag">
      <span> Sass</span>
    </div>
    <div class="tag">
      <span> HTML5</span>
    </div>
    <div class="tag">
      <span> Bootstrap</span>
    </div>
    <div class="tag">
      <span> AngularJs</span>
    </div>
    <div class="tag">
      <span> Angular5</span>
    </div>
    <div class="tag">
      <span> TypeScript</span>
    </div>
    <div class="tag">
      <span> Git</span>
    </div>
    <div class="tag">
      <span> NodeJS</span>
    </div>
    <div class="tag">
      <span> ExpressJs</span>
    </div>
    <div class="tag">
      <span> Scrumm</span>
    </div>
    <div class="tag">
      <span> SAP ABAP/4</span>
    </div>
    <div class="tag">
      <span> Microsoft Visual Basic.net</span>
    </div>
    <div class="tag">
      <span> MYSQL</span>
    </div>
    <div class="tag">
      <span> SQLLITE</span>
    </div>
    <div class="tag">
      <span> C</span>
    </div>
    <div class="tag">
      <span> Liferay</span>
    </div>
    <div class="tag">
      <span> MongoDb</span>
    </div>
    <div class="tag">
      <span> Unity 3D</span>
    </div>
    <div class="tag">
      <span> Host - cadenas batch JCL, CTL</span>
    </div>
    <div class="tag">
      <span> Paquete Office</span>
    </div>
    <div class="tag">
      <span> Sistemas Operativos Windows </span>
    </div>

  </section>
</div>