<div class="categorias" >
  <section >
    <h4>Tags</h4>
    <div class="tag">
      <span>Android</span>
    </div>
    <div class="tag">
      <span>Js</span>
    </div>
    <div class="tag">
      <span>Angular</span>
    </div>
    <div class="tag">
      <span>node</span>
    </div>
    <div class="tag">
      <span>html</span>
    </div>
    <div class="tag">
      <span>Js</span>
    </div>
    <div class="tag">
      <span>Angular</span>
    </div>
    <div class="tag">
      <span>node</span>
    </div>
    <div class="tag">
      <span>html</span>
    </div>
    <div class="tag">
      <span>Js</span>
    </div>
    <div class="tag">
      <span>Angular</span>
    </div>
    <div class="tag">
      <span>node</span>
    </div>
    <div class="tag">
      <span>html</span>
    </div>
  </section>
</div>