<div class="categorias">
  <section>
    <h4>Skills</h4>

    <div class="tag"><span> Ingles </span> </div>
    <div class="tag"><span> Java </span> </div>
    <div class="tag"><span> Kotlin </span> </div>
    <div class="tag"><span> Microservicios </span> </div>
    <div class="tag"><span> Spring boot </span> </div>
    <div class="tag"><span> Servicios rest </span> </div>
    <div class="tag"><span> Patrones de </span> </div>
    <div class="tag"><span> diseño </span> </div>
    <div class="tag"><span> Principio SOLID </span> </div>
    <div class="tag"><span> Clean Code </span> </div>
    <div class="tag"><span> Tomcat </span> </div>
    <div class="tag"><span> Servlet </span> </div>
    <div class="tag"><span> Api rest </span> </div>
    <div class="tag"><span> JSON </span> </div>
    <div class="tag"><span> XML </span> </div>
    <div class="tag"><span> JWT </span> </div>
    <div class="tag"><span> Android </span> </div>
    <div class="tag"><span> ViewModels </span> </div>
    <div class="tag"><span> Livedata </span> </div>
    <div class="tag"><span> Data Binding </span> </div>
    <div class="tag"><span> Metodologías </span> </div>
    <div class="tag"><span> ágiles </span> </div>
    <div class="tag"><span> Scrum </span> </div>
    <div class="tag"><span> Agile </span> </div>
    <div class="tag"><span> Jira </span> </div>
    <div class="tag"><span> Git </span> </div>
    <div class="tag"><span> SVN </span> </div>
    <div class="tag"><span> Python 2.7 </span> </div>
    <div class="tag"><span> Flex 2.5 </span> </div>
    <div class="tag"><span> Oracle </span> </div>
    <div class="tag"><span> Oracle form </span> </div>
    <div class="tag"><span> Pl/sql </span> </div>
    <div class="tag"><span> Entidad relación </span> </div>
    <div class="tag"><span> SQL </span> </div>
    <div class="tag"><span> Mysql </span> </div>
    <div class="tag"><span> Sqllite </span> </div>
    <div class="tag"><span> Mongodb </span> </div>
    <div class="tag"><span> Room </span> </div>
    <div class="tag"><span> Css3 </span> </div>
    <div class="tag"><span> Sass </span> </div>
    <div class="tag"><span> Typescript </span> </div>
    <div class="tag"><span> Javascript </span> </div>
    <div class="tag"><span> Ecmascript 6 </span> </div>
    <div class="tag"><span> Jquery </span> </div>
    <div class="tag"><span> Html5 </span> </div>
    <div class="tag"><span> Bootstrap </span> </div>
    <div class="tag"><span> React </span> </div>
    <div class="tag"><span> Angularjs </span> </div>
    <div class="tag"><span> Angular </span> </div>
    <div class="tag"><span> Webpack </span> </div>
    <div class="tag"><span> Babel </span> </div>
    <div class="tag"><span> Nodejs </span> </div>
    <div class="tag"><span> Expressjs </span> </div>
    <div class="tag"><span> .NET </span> </div>
    <div class="tag"><span> Liferay </span> </div>
    <div class="tag"><span> C </span> </div>
    <div class="tag"><span> C# </span> </div>
    <div class="tag"><span> Unity 3d </span> </div>
    <div class="tag"><span> Host </span> </div>
    <div class="tag"><span> Jcl </span> </div>
    <div class="tag"><span> Ctl </span> </div>
    <div class="tag"><span> Office </span> </div>
    <div class="tag"><span> Windows </span> </div>
    <div class="tag"><span> Linux </span> </div>
    <div class="tag"><span> Nginx </span> </div>

  </section>
</div>