@import "~styles/colors.scss";
.categorias {
    h4 {
        color: $acent;
        margin-top: 12px;
    }
    padding: 16px;
    background: $color-6;
    color: $texto-claro;
    .tag {
        padding: 6px;
        
        display: inline-block;
        margin-bottom: 6px;
         :hover {
            background-color: $color-8;
            cursor: pointer;
        }
        span {
            background-color: $color-7;
            border-radius: 2px;
            padding: 6px;
            margin: 2px;
            
        }
    }
}