@import "~styles/colors.scss";
.datos-perfil {
    text-align: center;
    background-color: $color-4;
    padding-top: 16px;
    padding-bottom: 12px;
    @media (min-width: 480px) {
        text-align: left;
    }
    @media (min-width: 768px) {
        text-align: center;
    }
    h3 {
        color: $color-7;
        font-size: 0.88em;
        @media (min-width: 480px) {
            font-size: 0.96em;
            margin-left: 16px;
            margin-bottom: 0px;
            margin-top: 32px;
        }
        @media (min-width: 768px) {
            font-size: 1.17em;
            margin-left: 0px;
            margin-bottom: 16px;
            margin-top: 16px;
        }
    }
    .img {
        max-height: 96px;
        max-width: 96px;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        height: auto;
        background: $color-2; // overflow: hidden;
        padding: 2px;
        @media (min-width: 480px) {
            margin-left: 16px;
        }
        @media (min-width: 768px) {
            max-width: 136px;
            max-height: 136px;
            padding: 6px;
        }
    }
    .sub-titulo {
        color: $color-6;
        display: none;
        @media (min-width: 480px) {
            font-size: 0.80em;
            display: inline-block;
            margin-left: 16px;
        }
        @media (min-width: 768px) {
            font-size: unset;
            margin-left: 0px;
        }
    }
    .menu {
        color: $color-8;
        display: inline-block;
        @media (min-width: 480px) {
            display: inline-block;
            margin-left: auto;
            margin-right: 5%;
            margin-top: 32px;
        }
        @media (min-width: 768px) {
            display: none;
        }
         :hover {
            cursor: pointer;
        }
    }
    @media (min-width: 480px) {
        display: flex;
    }
    @media (min-width: 768px) {
        padding-top: 48px;
        padding-bottom: 36px;
        display: block;
    }
    .r {
        float: right;
    }
}

.showBorder {
    @media (min-width: 768px) {
        border-radius: 20px 20px 0 0;
    }
}