<div class="datos-perfil" [ngClass]="{'showBorder' : rounded}">
    <div class="t">


        <img class="img" [src]="profileData.urlFoto" alt="">
    </div>
    <div>
        <span class="nombre">{{profileData.nombre}}</span>
        <span class="apellido">{{profileData.apellidos}}</span>
        <span class="sub-titulo">{{profileData.descripcion}}</span>
    </div>
    <div class="menu" (click)="clickButton()">
        <span>
            <i class="fa fa-bars"></i>
        </span>
    </div>
</div>