$color-1:#E7F4F6;
$color-2:#C1E0EA;
$color-3:#94C9D7;
$color-4:#8BC0D0;
$color-5:#5ba1bb;
$color-6:#0F81AF;
$color-7:#135581;
$color-8:#042E5A;

/*
$color-1:#F2F5FB;
$color-2:#EEF1F7;
$color-3:#DEE5F0;
$color-4:#C1CCE1;
$color-5:#B3C1DA;
$color-6:#9EB5CA;
$color-7:#B3C1DA;
$color-8:#201A16;
*/