/*innovation.4.apps@gmail.com
$acent:rgb(117, 45, 103);
$texto-claro: #C1E0EA;
$texto-oscuro:#94C9D7;
$color-4:#8BC0D0;
$color-5:#5ba1bb;
$color-6:#0F81AF;
$color-7:#135581;
$color-8:#042E5A;
*/

$acent:#E0A80D;
$texto-claro: #A4A5A6;
$texto-oscuro:#979899;
$color-3: #404242;
$color-4:#2D2E2E;
$color-5:#2B2C2C;
$color-6:#292A2A; 
$color-7:#262626;
$color-8:#201A16;

