@font-face {
    font-family: "MyWebFont";
    src: url("./assets/fonts/Lato-Regular.ttf") format("woff2")
}

/*
@font-face {
    font-family: "Lato, Helvetica Neue, Helvetica, Arial, sans-serif";
    src: url("./assets/fonts/Raleway-Regular.ttf") format("woff2")
}
*/