<div class="menu-principal">
    <div class="datos-perfil">
        <img class="img" src="../../assets/images/yo2.png" alt="">
        <h3>Raúl Rodriguez</h3>
        <span>Full Stack Sofware Developer</span>
    </div>
    <div class="link-perfil">
        <ul>
            <li>
                <img class="img-icon" src="../../assets/images/developer.png" alt="">
            </li>
            <li>
                <img class="img-icon" src="../../assets/images/linkedin.svg" alt="">
            </li>
            <li>
                <img class="img-icon" src="../../assets/images/github.png" alt="">

            </li>
            <li>
                <img class="img-icon" src="../../assets/images/gmail.svg" alt="">
            </li>
        </ul>
    </div>
</div>