<div class="menu-principal">
  
    <img class="img" src="../../assets/images/yo2.png" alt="">
  
    <ul>
      <li>
          <img class="img-icon" src="../../assets/images/linkedin.svg" alt="">
      </li>
      <li>
          <img class="img-icon" src="../../assets/images/gmail.svg" alt="">
      </li>
      <li>
          <img class="img-icon" src="../../assets/images/github.png" alt="">
  
      </li>
      <li>
          <img class="img-icon" src="../../assets/images/cv.png" alt="">
      </li>
    </ul>
  </div>