<div class="job">
  <div class="puntero pading-transparente"></div>
  <div class="date">
    <span>septiembre 2004 - junio 2007</span>
  </div>
  <div class="empresa">Altran</div>
  <div class="cliente">Caser</div>
  <div class="cargo">Analista programador</div>

  <div class="funcionalidades">
    <h5>Funcionalidades</h5>
    <p>Proyecto donde se crean una librerías nativas Android e Ios, para ser integradas en aplicaciones tanto para caser como
      de terceros, donde se recoge la ubicación del dispositivo y es enviada a un core creado con spring boot para ver si
      estas dentro de un punto caliente, el cual tenga asociado una campaña de venta, el cliente recibiría una notificación
      push con una oferta. Creación de un panel de control y un microsite de contratación.</p>
  </div>
  <div class="funciones">
    <h5>Funciones</h5>
    <p>Analisis, creación modelo de datos, creación de la dashboard de control de campañas y hotspot (angularjs), creación del
      api rest necesario (spring boot), creación del microsite de contratación y tarificación (angularjs), creación de las
      librerías nativas, integración con firebase.</p>
  </div>
  <div class="tecnologias">
    <h5>Skills</h5>
    <div class="skills">
      <div class="tag">
        <span>Android nativo</span>
      </div>
      <div class="tag">
        <span>Ios nativo (Swift)</span>
      </div>
      <div class="tag">
        <span>Sass</span>
      </div>
      <div class="tag">
        <span>Angularjs</span>
      </div>
      <div class="tag">
        <span>node</span>
      </div>
      <div class="tag">
        <span>Spring boot </span>
      </div>
      <div class="tag">
        <span>Api rest</span>
      </div>
      <div class="tag">
        <span>Sql oracle</span>
      </div>

      <div class="tag">
        <span>Firebase</span>
      </div>
      <div class="tag">
        <span>Git</span>
      </div>


    </div>
  </div>
</div>