<div class="job">
  <i (click)="clickPointer()" class="fa fa-briefcase puntero pading-transparente" aria-hidden="true"></i>

  <div class="date">
    <span>{{timeline.periodo}}</span>
  </div>
  <div [ngStyle]="acordion()">
    <div class="empresa">{{timeline.empresa}}</div>
    <div class="cliente">{{timeline.cliente}}</div>
    <div class="cargo">{{timeline.cargo}}</div>

    <div class="funcionalidades">
      <h5>Funcionalidades</h5>
      <p>{{timeline.funcionalidades}}</p>
    </div>
    <div class="funciones">
      <h5>Funciones</h5>
      <p>{{timeline.funciones}}</p>
    </div>
    <div class="tecnologias" *ngIf="timeline.tecnologias.length>0">
      <h5>Skills</h5>

      <div class="skills">
        <div *ngFor="let skill of timeline.tecnologias" class="tag">
          <span class=".not-selectable">{{skill}}</span>
        </div>
      </div>
    </div>
  </div>
</div>