/* You can add global styles to this file, and also import other style files */


@import "~styles/fonts.scss";
@import "~styles/colors.scss";

html{
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  background: url(https://ultimateangular.com/assets/img/homepage/shields--featured.svg) repeat center 60px;
    position: relative;
    margin: 0;
    padding-bottom: 64px;
    min-height: 100%;
    font-family: 'MyWebFont'; //background-color: $background;/*
    /* background: url("./assets/images/wallpaper.jpg")  no-repeat fixed 50% 0px / cover;
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);    */
 

    // background: url("./assets/images/wallpaper.jpg") center center no-repeat;
   
     
    // background-size: cover;
    // background-attachment: fixed;

     background-color: $color-2;
  }

/*
  body:before {
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    
    filter        : blur(1px) grayscale(90%);
    -moz-filter   : blur(1px) grayscale(90%);
    -webkit-filter: blur(1px) grayscale(90%);
    -o-filter     : blur(1px) grayscale(90%);
        
    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}*/